<div id="sceneContainer">
  <a-scene debug>
<!--    <a-entity id="environment" environment="preset: tron;"></a-entity>-->
    <a-sky src="https://i.imgur.com/1dUSMiM.jpg"></a-sky>

    <a-asset>
    <a-asset-item id="data" src='[{"x": 10, "y": 80, "z": 0, "size": 0.5, "color": "#ff0000"},
                {"x": -20, "y": 30, "z": 50, "size": 0.5, "color": "#00ff00"},
                {"x": -10, "y": 30, "z": 20, "size": 0.5, "color": "#0000ff"},
                {"x": 20, "y": 10, "z": 70, "size": 0.5, "color": "#0000ff"},
                {"x": 13, "y": 60, "z": 30, "size": 0.5, "color": "#4CC3D9"}]'>
  </a-asset-item>>
</a-asset>

    <a-entity id="cameraRig">
      <a-camera id="camera">
      </a-camera>
      <a-entity id="mouseCursor" cursor="rayOrigin: mouse" raycaster="objects: .screen"></a-entity>
      <a-entity laser-controls raycaster="objects: .screen;"></a-entity>
    </a-entity>

    <a-entity *ngFor="let graph of graphs;" htmlembed="ppu:512" graphEmbed position="0 1 -1">
      <div style="color: #FFF; width: 900px; height: 500px">
        Graph goes here
        <google-chart
          [options]="graph.gOptions"
          [type]="graph.type"
          [data]="graph.data"
        (ready)="graphReady()">
        </google-chart>
      </div>
    </a-entity>

    <a-entity charts="type: bar; dataPoints: #data; axis_length: 12" position="1 1 1"></a-entity>

    <a-entity id="menu" class="screen menu" htmlembed="ppu:256" position="-2 1 -1" rotation="0 45 0">
      <h2 style="color: white">Menu</h2>
      <ul>
        <li><a href="" class="button">Home</a></li>
        <li><a href="#" class="button">Graph</a></li>
      </ul>
    </a-entity>

  </a-scene>

</div>

